html {
  background-color: white;
  font-size: 5rem;
  text-align: center;
  font-family: "Courier new";
  line-height: 1.2;
}

body {
  padding-top: 190px;
}

a{
  font-style:normal;
  font-weight: normal;
  text-decoration: none;
}

a:vistied
{
  font-style:normal;
  font-weight: normal;
  text-decoration: none;
}
