html {
  background-color: rgb(78, 151, 140);
}

div {
  font-family: "Dodum";
  font-weight:bold;
  font-size: 50px;
  padding-top: 9px;
  padding-left: 5px;
  text-align: justify;
  line-height: 1.4;
}
